
.content {
    min-height: 400px;
    position: relative;
    padding-bottom: 50px;
}
.content li{
    list-style: none;
    margin: 20px 5px;
}

.content div{
   width: 90%;
   padding: 0 32px;
}
.content input{
    padding: 0 10px;
    float: left;
   margin-right: 20px;
}
#button{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-weight: bold;
    color: #555;
}
#button:hover{
    color: #000;
}
.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
h1{
    text-decoration: underline;
}

.results td:first-child{
    font-size: 19px;
    font-weight: bold;
    padding: 14px 48px;
}
.results td:last-child{
    font-size: 23px;
}
.again {
    text-align: center;
}
.again a{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #555;
    padding: 7px 10px;
    color: #555;
}
.again a:hover{
    color: #000;
    text-decoration: none;
}