

.head {
    background-color: #1a3867;
    color: #fff;
    width: 100%;
    padding: 17px 0;
    margin-bottom: -10px;
}
.head img{
    margin-left: 10px;
    margin-top: -9px;
}
.head span{
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
}
.panel {
    width: 100%;
    height: 45px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #dedede;
}
.panel ul{
    margin-left: 3px;
}
.panel li{
    list-style: none;
    float: left;
    margin: 10px 3px;
}
.new{
    border: solid 1px #2f6d2f;
    border-radius: 4px;
    padding: 2px 0px;
    background: linear-gradient(to top, #388438, #439f43);
}
.new a{
    padding: 2px 50px;
    color: #fff;
}
.new a:hover{
    text-decoration: none;
}
.new img{
    margin-top: -3px;
}
#save{
    background: linear-gradient(to top, #388438, #439f43);
    color: #fff;
    padding: 2px 48px 2px 40px;
    border: solid 1px #2f6d2f;
    border-radius: 4px;
}
#save img{
    margin: 0 4px 3px 0;
}
.cansel{
    border: solid 1px #c5c5c5;
    border-radius: 4px;
    padding: 2px 0px;
    background: linear-gradient(to top, #e7e7e7, #fff);
}
.cansel a{
    text-decoration: none;
    padding: 2px 6px;
    color: #000;
}
.cansel img{
    margin: 0px 2px;
}
.panel button{
    padding: 2px 7px;
    background: linear-gradient(to top, #e7e7e7, #fff);
    border-radius: 4px;
    border: 1px solid #c5c5c5;
}
.panel button img{
   margin: 0px 4px;
}
.search input{
    float: left;
    margin-right:  5px;
    margin-left: 5px;
    margin-top: 20px;
}
.search button{
    padding: 2px 7px;
    background: linear-gradient(to top, #e7e7e7, #fff);
    border: 1px solid #c5c5c5;
    margin-top: 20px;
}
.search button img{
    padding: 4px 5px;    
}
.bsubmit {
   border-radius:4px 0px 0px 4px; 
   margin-right: -5px;
}
.breset {
   border-radius:0px 4px 4px 0px; 
}
.content{
    clear: both;
}

.publ,.ransw {
    cursor: pointer;
}
.publ img{
    width: 31px;
    height: 22px;
}
.zebra  {
    width: 100%;
}
.zebra td {
    text-align: center;
}
.zebra tr {
  height:50px;
}
.zebra tr:nth-child(2n){
    background-color: #f7f7f7;
    border-bottom: solid 1px #ccc;
}
.zebra tr:nth-child(2n+1){
    border-bottom: solid 1px #ccc;
}
.check{
    width: 40px;
}
.zebra td:nth-child(3){
     text-align: left;
     width: 61%;
}
.zebra td:nth-child(3) a{
    font-weight: bold; 
    color: #0a66fe;
}
.zebra td:nth-child(4){
     width: 100px;
}
.zebra td:nth-child(8){
     width: 30px;
}
.zebra td:nth-child(3) span{
     font-size: 18px;
}
.zebra td:nth-child(4) span{
     color: #000;
     font-weight: bold;
}
.htable td:nth-child(1),.htable td:nth-child(4),.htable td:nth-child(5),
.htable td:nth-child(6),.htable td:nth-child(7),
.htable td:nth-child(8){
    font-weight: bold;
}
.edit img{
    margin-right: 6px;
}
.content textarea{
    width: 450px;
    height: 150px;
}
.edit div{
    font-size: 18px;
    width: 100px;
    float: left;
    margin-right: 100px;
}
.edit.form li {
    list-style: none;
    margin-top: 20px;
}
